head
    title BCI.js

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    
    // Bootstrap
    link(
        rel='stylesheet',
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css',
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',
        crossorigin='anonymous'
        )

    // Font Awesome
    link(
        rel='stylesheet',
        href='https://use.fontawesome.com/releases/v5.7.2/css/all.css',
        integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr',
        crossorigin='anonymous'
        )
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono')

    // Main CSS
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/navbar.css')
    link(rel='stylesheet', href='css/prettify.css')
